/* Common styles for all screen sizes */
.cardContainer {
    width: 100%;
    border: 1px solid rgb(214, 213, 213);
    border-radius: 4px;
    padding: 10px;
    box-shadow: rgba(145, 164, 178, 0.3) 0px 1px 2px 0px, rgba(200, 214, 227, 0.15) 0px 1px 3px 1px;
    background: white;
  }
  
  .cardContainer > * {
    width: 100%;
  }
  /* Add this CSS for truncating text */
.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* The rest of your CSS remains the same */

  
  .showStatus {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 6px;
    height: 6px;
    background: silver;
    border-radius: 100%;
  }
  .cardTitle{
    padding: 4%;
    margin-left: 2px;
  }
  .cardTags {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .status_align {
    display: flex;
    flex-direction: row;
  }
  
  .tags {
    width: max-content;
    padding: 2px 4px;
    border-radius: 5px;
    border: 1px solid lightgray;
  }
 
  @media (max-width: 768px) {
    .cardContainer {
      padding: 8px; 
    }
    
    .cardTags {
      flex-wrap: wrap; 
    }
    
    .status_align {
      flex-direction: column; 
    }
    
    .tags {
      padding: 2px 4px; 
    }
  }
  
  @media (max-width: 576px) {
    .showStatus {
      display: none; 
    }
  }
