.dashContainer{
    display: grid;
    min-height: 100vh;
  grid-template-columns: repeat(5,1fr);
    background-color: #F4F5F8;
    padding: 5px 10px;
}

.dashCardContainer{
    display: flex;
    
  
    flex-direction: column;
    gap: 5px;
    width : 300px;
}
.rightView{
    display: flex;
    flex-direction: row;
}
.leftView{
    display: flex;
    flex-direction: row;
}