
.selectGroup{
    padding: 3px;
}

.displayButton{
    position: relative;
    /* Vertically align the icon and text */
 
 
}

.dropOnClick{
    position: absolute;
    width: 250px;
    background-color: #f8f8fa;
    border-radius: 1px;
    margin-top: 10px;
    z-index: 10;
}

.dropOnClick > *{
    width: 100%;
}
.drop-down{
    font-size: 1rem;
    color: #8D8D8D;
   
    align-items: center;
    transition: transform 0.3s ease-in-out;
    transform: rotate(0deg);
}

.btn{
    background:  #f8f8fa;;
    border: 1px solid silver;
    border-radius: 10px;
    display: flex;
    gap:10px;
    align-items: center;
}
.top-header {
    padding-left: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row; 
    gap: 90%;/* Add this property to create a gap between top-header and DashView */
  }
  
  /* Rest of your CSS styles */
  

.selectStyle{
    width: 100px;
    border-radius: 5px;
    background: white;
    padding: 2px 5px;
}
